/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}



/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  padding-top: 200px;

  font-family: "Cormorant Garamond", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: hsl(0, 0%, 0%);
  font-style: italic;
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  padding-bottom: 4rem;

  background: url('../assets/top-left-twig.svg') no-repeat left top, 
    url('../assets/top-right-twig.svg') no-repeat right top;
  background-size: 1100px, 260px;
}

@media (max-width: 1100px) {
  body {
    background: url('../assets/top-left-twig.svg') no-repeat left top;
    background-size: auto, 260px;
  }
}

@media (max-width: 500px) {
  body {
    padding-top: 120px;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1em;
  text-align: center;

  font-size: 1.5rem;
}

.twig {
  display: inline-block;
  max-width: 500px;
  padding: 0.5em 1em;
}

.header {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}

.header h1 {
  font-size: 1.5rem;
}

.logo {
  width: 100%;
  max-width: 550px;
}

.sr-only, .screen-reader-only, figcaption {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

figure {
  margin: 0;
  position: relative;
}

.album {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
}

.album figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  max-width: 60ch;
}

.schedule {
  width: 100%;
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 95%);
  padding-block: 5rem;
}

.slots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  max-width: 990px;
  margin: 2rem auto;

}

.slot time {
  font-size: 3rem;
  font-weight: 300;
}
